@import 'src/styles.scss';

.homepage-container {
    height: 100vh;
    background: 
        url('../assets/images/illustration.png') center center no-repeat,
        linear-gradient(
        to right,
        $background-left $left-section-width,
        $background-right $right-section-width
    );
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

main {
    display: flex;
    flex-direction: row;

    section {
        box-sizing: border-box;
        padding: 5rem 4rem 0 4rem;

        p {
            font-weight: bold;
            margin-top: 0.5rem;
        }
    }

    section:first-of-type {
        width: $left-section-width;

        .title {
            font-size: xx-large;
            color: $primary-color;
            margin-bottom: 0;
        }
    }
    
    section:nth-of-type(2) {
        width: $right-section-width;

        .sub-title {
            color: $secondary-color;
            margin-bottom: 0;
        }

        p {
            font-size: smaller;
        }
    }
}
