<div class="homepage-container">
  <header>
    <img src="../assets/images/logo.png">
    <label>COMNICA</label>
  </header>
  <main>
    <section>
      <h1 class="title">Comnica Signature</h1>
      <p>Digitális aláíró szolgáltatás a Comnicától</p>
    </section>
    <section>
      <h2 class="sub-title">Üdvözlöm a<br>Comnica Signature-ben!</h2>
      <p>A következőkben végigvezetjük dokumentumai elfogadásán és aláírásán. A folyamat több percet is igénybe vehet, ezért kérjük, csak akkor kezdje el, ha készen áll rá.</p>
      <app-button
        [buttonText]="'Kezdhetjük'"
      ></app-button>
    </section>
  </main>
</div>
