@import 'src/styles.scss';

$first-section-tablet-size: 20rem;
$first-section-phone-size: 15rem;

.homepage-container {
    height: 100vh;
    background: 
        url('../assets/images/illustration.png') center center no-repeat,
        linear-gradient(
        to right,
        $background-first $left-section-width,
        $background-second $right-section-width
    );
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

main {
    display: flex;
    flex-direction: row;

    section {
        box-sizing: border-box;
        padding: 5rem 4rem 0 4rem;

        p {
            font-weight: bold;
            margin-top: 0.5rem;
        }
    }

    section:first-of-type {
        width: $left-section-width;

        .title {
            font-size: xx-large;
            color: $primary-color;
            margin-bottom: 0;
        }
    }
    
    section:nth-of-type(2) {
        width: $right-section-width;

        .sub-title {
            color: $secondary-color;
            margin-bottom: 0;
        }

        p {
            font-size: smaller;
        }
    }
}

@media (max-width: 960px) {
    .homepage-container {
        height: 100%;
        background: 
            url('../assets/images/illustration.png') top right no-repeat,
            linear-gradient(
            to bottom,
            $background-first $top-section-height,
            $background-second $bottom-section-height
        );
    }

    main {
        flex-direction: column;

        section:first-of-type {
            height: $first-section-tablet-size;
            width: 100%;
            margin-bottom: 2rem;
        }
        
        section:nth-of-type(2) {
            width: 100%;
            height: calc(100% - $first-section-tablet-size);
            padding-top: 1rem;
            padding-bottom: 5rem;
        }
    }
}

@media (max-width: 736px) {
    .homepage-container {
        height: 100%;
        background: 
            linear-gradient(
            to bottom,
            $background-first $top-section-height,
            $background-second $bottom-section-height
        );
    }
    main {
        section:first-of-type {
            height: $first-section-phone-size;
        }
        
    }
}
