@import './index.css';

:root {
  --first-section-tablet-size: 20rem;
  --first-section-phone-size: 15rem;
}

.homepage-container {
  height: 100vh;
  background:
    url('../public/assets/illustration.png') center center no-repeat,
    linear-gradient(to right,
      var(--background-first) var(--left-section-width),
      var(--background-second) var(--right-section-width));
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 1rem;
}

main {
  display: flex;
  flex-direction: row;
}

main section {
  box-sizing: border-box;
  padding: 5rem 4rem 0 4rem;
}

main section p {
  font-weight: bold;
  margin-top: 0.5rem;
}

.title-section {
  width: var(--left-section-width);
}

.title {
  font-size: xx-large;
  color: var(--primary-color);
  margin-bottom: 0;
}

.description-section {
  width: var(--right-section-width);
}

.sub-title {
  color: var(--secondary-color);
  margin-bottom: 0;
}

.description-section p {
  font-size: smaller;
}